USE [master]
GO
/****** Object:  Database [Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc]    Script Date: 29/10/2020 9:33:11 AM ******/
CREATE DATABASE [Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc', FILENAME = N'C:\Users\Melis\Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc_log', FILENAME = N'C:\Users\Melis\Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc]
GO
USE [Horse_StablesContext-ad814f03-7a73-4603-941d-014a69489dbc]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/10/2020 9:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horse]    Script Date: 29/10/2020 9:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horse](
	[HorseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](16) NOT NULL,
	[TopSpeed] [int] NOT NULL,
	[Breed] [nvarchar](20) NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[Gender] [int] NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Horse] PRIMARY KEY CLUSTERED 
(
	[HorseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201021200556_HSDB', N'3.1.9')
GO
SET IDENTITY_INSERT [dbo].[Horse] ON 

INSERT [dbo].[Horse] ([HorseID], [Name], [TopSpeed], [Breed], [DOB], [Gender], [Notes]) VALUES (3, N'Prince', 44, N'Arabian', CAST(N'2008-12-08T00:00:00.0000000' AS DateTime2), 0, NULL)
INSERT [dbo].[Horse] ([HorseID], [Name], [TopSpeed], [Breed], [DOB], [Gender], [Notes]) VALUES (4, N'Blizzard', 43, N'Arabian', CAST(N'2012-12-12T00:00:00.0000000' AS DateTime2), 0, N'Recovering from FL hoof injury')
INSERT [dbo].[Horse] ([HorseID], [Name], [TopSpeed], [Breed], [DOB], [Gender], [Notes]) VALUES (6, N'Wisp', 39, N'Anglo - Arab', CAST(N'2004-02-11T00:00:00.0000000' AS DateTime2), 1, N'')
SET IDENTITY_INSERT [dbo].[Horse] OFF
GO
USE [master]
GO
